#container {
	max-width: 600px;
	margin: auto;
}

#messages {
	list-style-type: none;
	background-color: rgb(255, 164, 164);
	color: maroon;
	font-style: italic;
	padding: 0 0 0 .5em;
}

.cards {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.cards li {
	padding: 0.5em 0 0.5em 0.5em;
}

li.title {
	border: .1em solid;
	border-bottom-color: red;
	border-top-color: silver;
	border-right-color: silver;
	border-left-color: silver;
}

li.content {
	border: .1em solid;
	border-right-color: silver;
	border-left-color: silver;
	border-bottom-color: silver;
	border-top-style: none;
	margin-bottom: 0.5em;
}

p {
	padding: 0;
	margin: 0;
}

textarea {
	width: 90%;
}